{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

<div class="collection-banner">
    <div class="collection-banner__inner page-width color-{{ section.settings.color_scheme }}">
        <div class="collection-banner__title">
            <span class="visually-hidden">
                {{ 'sections.collection_template.title' | t }}:
            </span>
            {{- collection.title | escape -}}
        </div>
        {%- if section.settings.show_collection_description -%}
            <div class="collection-banner__desc">
                {{ collection.description }}
            </div>
        {%- endif -%}
    </div>
</div>
{% schema %}
    {
        "name": "Collection Banner",
        "class": "section",
        "settings": [
            {
                "type": "paragraph",
                "content": "t:sections.main-collection-banner.settings.paragraph.content"
            },
            {
                "type": "checkbox",
                "id": "show_collection_description",
                "default": true,
                "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "t:sections.all.colors.label",
                "default": "scheme-1"
            }
        ]
    }
{% endschema %}
