{{ 'featured-collection.css' | asset_url | stylesheet_tag }}

<div class="page-width section-{{ section.id }}-padding">
    <div class="featured-collection {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <h2 class="featured-collection__title">{{ section.settings.title }}</h2>
        <div class="featured-collection__tab">
            <tab-menu namespace="tab">
                
                {% for block in section.blocks %}
                    {% assign card_collection = block.settings.collection %}
                <tab-menu-item content="tab-{{forloop.index}}" {% if forloop.first %} active {% endif %}>{{card_collection.title}}</tab-menu-item>
                {% endfor %}
            </tab-menu>
          
        </div>
        <div class="featured-collection__content">
            <tab-content namespace="tab">
                {% for block in section.blocks %}
                    {% assign card_collection = block.settings.collection %}
                    <tab-content-item tab="tab-{{forloop.index}}">
                        <swiper-container loop="true" centered-slides="false" breakpoints="true" pagination="true">
                            <breakpoint size="0" direction="horizontal" space-between="10" slides-per-view="{{ section.settings.columns_mobile }}" slides-per-group="{{ section.settings.columns_mobile }}"></breakpoint>
                            <breakpoint size="900" direction="horizontal" space-between="10" slides-per-view="3"  slides-per-group="3"></breakpoint>
                            <breakpoint size="1200" direction="horizontal" slides-per-view="{{ section.settings.columns_desktop }}" space-between="20" slides-per-group="{{ section.settings.columns_desktop }}"></breakpoint>
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    {%- for product in card_collection.products limit: section.settings.products_to_show -%}
                                        <div class="swiper-slide">
                                            {% render 'card-product',
                                                card_product: product,
                                                media_aspect_ratio: section.settings.image_ratio,
                                                image_shape: section.settings.image_shape,
                                                show_secondary_image: section.settings.show_secondary_image,
                                                show_vendor: section.settings.show_vendor,
                                                show_rating: section.settings.show_rating,
                                                show_quick_add: section.settings.enable_quick_add,
                                                section_id: section.id
                                            %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </swiper-container>
                       
                    </tab-content-item>
                {% endfor %}
            </tab-content>
        </div>
    </div>
</div>


{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

{% schema %}
{
    "name": "Featured Collections",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Products"
        },
        {
            "type": "range",
            "id": "products_to_show",
            "min": 2,
            "max": 12,
            "step": 1,
            "default": 10,
            "label": "t:sections.featured-collection.settings.products_to_show.label"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                    "value": "adapt",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
                },
                {
                    "value": "portrait",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
                },
                {
                    "value": "square",
                    "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
                }
            ],
            "default": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 4,
            "label": "Number of columns on desktop"
        },
        {
            "type": "range",
            "id": "columns_mobile",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2,
            "label": "Number of columns on mobile"
        },
        {
            "type": "checkbox",
            "id": "show_secondary_image",
            "default": false,
            "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Select Collection"
                }
            ]
        }
    ],
    "max_blocks": 4,
    "presets": [
        {
            "name": "Featured Collections"
        }
    ]
}
{% endschema %}