{{ 'footer.css' | asset_url | stylesheet_tag }}


{%- style -%}
.footer {
margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
}
{%- endstyle -%}

<footer class="footer">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when '@app' -%}
                {% render block %}
            {%- when 'link_list' -%}   
                {%- if block.settings.menu != blank -%}
                    <ul class="footer__menu">
                        {%- for link in block.settings.menu.links -%}
                            <li><a href="{{ link.url }}" class="{% if link.active %} -active{% endif %}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
               
        {% endcase %}
    {% endfor %}
   

    <ul class="footer__social">
        {%- if settings.social_facebook_link != blank -%}
        <li>
            <a href="{{ settings.social_facebook_link }}">
                {{ 'general.social.links.facebook' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
        <li>
            <a href="{{ settings.social_instagram_link }}">
                {{ 'general.social.links.instagram' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_youtube_link != blank -%}
        <li>
            <a href="{{ settings.social_youtube_link }}">
                {{ 'general.social.links.youtube' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_tiktok_link != blank -%}
        <li>
            <a href="{{ settings.social_tiktok_link }}">
                {{ 'general.social.links.tiktok' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_twitter_link != blank -%}
        <li>
            <a href="{{ settings.social_twitter_link }}">
                {{ 'general.social.links.twitter' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_pinterest_link != blank -%}
        <li>
            <a href="{{ settings.social_pinterest_link }}">
                {{ 'general.social.links.pinterest' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_snapchat_link != blank -%}
        <li>
            <a href="{{ settings.social_snapchat_link }}">
                {{ 'general.social.links.snapchat' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_tumblr_link != blank -%}
        <li>
            <a href="{{ settings.social_tumblr_link }}">
                {{ 'general.social.links.tumblr' | t }}
            </a>
        </li>
        {%- endif -%}
        {%- if settings.social_vimeo_link != blank -%}
        <li>
            <a href="{{ settings.social_vimeo_link }}">
                {{ 'general.social.links.vimeo' | t }}
            </a>
        </li>
        {%- endif -%}
    </ul>

    <div class="footer__copyright">
        © 2018 SHILA
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "copyright_text",
            "default": "© 2018 SHILA",
            "label": "Copytight Text"
        },
        {
            "type": "range",
            "id": "margin_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.footer.settings.margin_top.label",
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "link_list",
            "name": "t:sections.footer.blocks.link_list.name",
            "settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "default": "footer",
                    "label": "t:sections.footer.blocks.link_list.settings.menu.label",
                    "info": "t:sections.footer.blocks.link_list.settings.menu.info"
                }
            ]
        }
    ]
}
{% endschema %}